/**
 * Created by Susan Dangol
*/

@import "components/fonts_and_colors";

/*------------------------------------ Site Wide Starts -----------------------------------*/

/*------------------------------------- Site Wide Ends ------------------------------------*/

/*--------------------------------- Header Wrapper Starts ---------------------------------*/
/*--------------------------------- Header Wrapper Starts ---------------------------------*/

/*-------------------------------- Content Wrapper Starts ---------------------------------*/
/*--------------------------------- Content Wrapper Ends ----------------------------------*/

/*--------------------------------- Footer Wrapper Starts ---------------------------------*/
/*---------------------------------- Footer Wrapper Ends ----------------------------------*/

/*----------------------------------- Components Starts -----------------------------------*/
/*------------------------------------ Components Ends ------------------------------------*/

/*---------------------------------- Slick Slider Starts ----------------------------------*/
/*----------------------------------- Slick Slider Ends -----------------------------------*/

/*------------------------------------- Mcustom Starts ------------------------------------*/
/*-------------------------------------- Mcustom Ends -------------------------------------*/

@media all and (max-width: 1600px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container{

  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/

  /*-------------------------------- Content Wrapper Starts ---------------------------------*/

  /*--------------------------------- Content Wrapper Ends ----------------------------------*/

  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/

  /*----------------------------------- Components Starts -----------------------------------*/
  /*------------------------------------ Components Ends ------------------------------------*/

  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/

  /*------------------------------------- Mcustom Starts ------------------------------------*/
  /*-------------------------------------- Mcustom Ends -------------------------------------*/
}


@media all and (max-width: 1399px) {
.custom-container{
padding: 70px 140px;
max-width: 1399px;
} 


.btn-common{
  font-size: 18px;
  font-weight: 400;
  padding: 10px 20px;
}
.btn-common:hover{
  color: #fff;
}

.btn-special-offer{
  .btn{
    top: 17rem;
  }
  
}
.promotion{

  .caption{
    font-size: 18px;
    line-height: 27px;
    width: 500px;
    .quotes{
      font-size: 60px;
    }
    .paragraph-quotes{
      margin: 0px;
    }
  }
}



.new-arrivals-section{
  .top-item{
    img{
      width:100%;

    }
    .caption{
      top:20%;
      left:49;
      p{
        margin-bottom: 10px;
      }
    }
  }
}


.Projects{
  display: flex;
  justify-content: center;
  .promoters-slider{
    .image-head{
      width:100%;
    }
    .project-notes{
     top: 50%;
    }
  }
}


.contact-section{
  .contact{
    padding-right:40px;
    .form{
      margin-top: 30px;
      .form-control{
        padding: 5px;
        font-weight:400;
        font-size:18px;
        line-height:24px;
      }
    }
  
  }
  
}

}

@media all and (max-width: 1199px) {

}

@media all and (max-width: 991px) {

}

@media all and (max-width: 767px) {

}



